<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			 <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
			 <link href="/css/bootstrap.css" rel="stylesheet">
			 <link href="/css/main.css" rel="stylesheet">
			{% include analytics.html %}
		</head>
		<body>
			 <div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
				  <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Mike Li Yan Hui</a>
				  </div>
				  <div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				  </div>
				</div>
			  </div>
		  
			  <div id="ww">
				<div class="container">
					{{ content }}
					</div>
			  </div>
			  
			  <div id="footer">
				  <div class="container">
					  <div class="row">
						  <p> © Mike Li Yan Hui 2018 </p>
					  </div>
				  
				  </div>
			  </div>
		</body>
	</html>
